/* a=0 b=0 c=2 especificidad: 002 */
nav li {
	float: left;
}

/* a=0 b=0 c=3 especificidad: 003 */
nav li a {
	display: block;
  	padding: 1.3em 2.95em;
}

/* a=0 b=0 c=1 especificidad: 001 */
figure {
    float: left;
    display: flex;
    flex-flow: column;
    padding: 5px;
}

/* a=0 b=0 c=1 especificidad: 001 */
aside {
	float: right;
	padding: 3em 2em;
	margin: 1em 2em;
}

/* a=0 b=1 c=1 especificidad: 011 */
img.periodicoDigital {
	max-width: 12em;
}

/* a=0 b=1 c=1 especificidad: 011 */
img.equipo {
	max-width: 25em;
}

/* a=0 b=1 c=1 especificidad: 011 */
img.rodaje {
	max-width: 30em;
}

/* a=0 b=1 c=1 especificidad: 011 */
img.fan {
	max-width: 16em;
}

/* a=0 b=0 c=1 especificidad: 001 */
video {
	max-width: 28em;
	float: right;
	margin: 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
audio {
	margin: 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
body {
	padding: 1.2em 2em;
}

/* a=0 b=0 c=1 especificidad: 001 */
footer {
	margin-top: 3em;
	padding: 0.5em 1em;
}

/* a=0 b=0 c=1 especificidad: 001 */
section {
	display: initial;
}

/* a=0 b=1 c=1 especificidad: 011 */
figure.izquierda {
	float: left;
}

/* a=0 b=1 c=1 especificidad: 011 */
figure.derecha {
	float: right;
}

#inputEquipo1, #inputEquipo2 {
	display: block;
	margin: 2em 2em;
}

/* a=0 b=0 c=1 especificidad: 001 */
section.mercado {
	display: inline-block;
	margin: 2em 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
section.informacion {
	display: inline-block;
	margin: 0.5em 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
div {
	display: inline-block;
	margin: 0.5em 2em;
}

/* a=0 b=0 c=1 especificidad: 001 */
div.tiempo, div.cine, div.premio {
	display: inline-block;
	margin: 0.5em 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
section.opciones {
	display: inline-block;
	margin: 0.5em 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
section.opcionesLiga {
	display: block;
	margin: 0.5em 3em;
}

/* a=1 b=0 c=0 especificidad: 100 */
#tiempoActual {
	display: block;
}

/* a=0 b=0 c=1 especificidad: 001 */
video.buscadorNoticias, video.actor {
	max-width: 28em;
	max-height: 250px;
	float: left;
	margin: 3em;
}

/* a=0 b=0 c=1 especificidad: 001 */
div.buscadorNoticias, section.advertencia {
	display: inline-block;
}

section.laLiga {
	display: inline-block;
	margin: 2em 3.5em 0.2em;
}

/* a=0 b=0 c=1 especificidad: 001 */
div.actor {
	display: inline;
}

/* a=0 b=0 c=1 especificidad: 001 */
div.resultados {
	display: block;
}